<div class="wrapper" style="height: 80vh;">
    <div class="form__wrapper">
        <h1>Вход в аккаунт</h1>
        <br>
        <form class="form" name="login">
            <span class="caption">Логин</span>
            <input type="text" class="field" maxlength="50" required>

            <span class="caption">Пароль</span>
            <input type="password" class="field" maxlength="16" required>

            <input type="submit" class="btn_blue" value="Войти">
            <a href="/registration" name="registration" class="btn_grey">Регистрация</a>
        </form>
    </div>
</div>